# INDICATION(S) A DESTINATION DE(S) DEVELOPPEUR(S) LORSQUE CE CODE SERA CLONE

# MONGODB
MONGODB_USER =
MONGODB_PASSWORD_USER =
MONGODB_CLUSTER_NAME =
MONGODB_DATABASE_NAME = 

# AUTHENTIFICATION
SECRET_TOKEN =